@model LoginView

    @{
        ViewData["Title"] = "Logowanie";
        //Layout = "~/Areas/Dashboard/Views/Shared/Login/_Layout.cshtml";
    }

        @*<div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
            <div class="container container-login container-transparent animated fadeIn">
                <h3 class="text-center">Zaloguj do Theraphosidae</h3>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
                {
                    <div class="form-group">
                        <label for="username" class="placeholder"><b>Login</b></label>
                        @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="password" class="placeholder"><b>Hasło</b></label>
                        <div class="position-relative">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            <div class="show-password">
                                <i class="icon-eye"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-action-d-flex mb-3">
                        <button type="submit" class="btn btn-secondary col-md-5 float-right mt-3 mt-sm-0 fw-bold">Zaloguj</button>
                    </div>
                }
            </div>
        </div>*@


    <div class="page-inner" style="margin-top:15px;">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Zaloguj do Theraphosidae</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="login" style="background-color: white;">

                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
                                {
                                    <div class="form-group">
                                        <label for="username" class="placeholder"><b>Login</b></label>
                                        @Html.TextBoxFor(x => x.Login, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="placeholder"><b>Hasło</b></label>
                                        <div class="position-relative">
                                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                            <div class="show-password">
                                                <i class="icon-eye"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-action-d-flex mb-3">
                                        <button type="submit" class="btn btn-secondary col-md-5 float-right mt-3 mt-sm-0 fw-bold">Zaloguj</button>
                                    </div>
                                }
                            </div>

                            <div style="margin-top:10px;">
                                <label>Nie masz konta? <a href="@Url.Action("Register","Account", new { Area = "dashboard" })">Zarejestruj się</a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>