@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Lista roli";

    ViewData["Page"] = "RoleList";
    ViewData["Group"] = "Role";

}

<div class="page-inner" style="margin-top:15px;">

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Lista roli</h4>
                </div>
            </div>

            <div class="card-body">
                <div class="row justify-content-start" >
                    @if (User.Identity.Name == "admin")
                    {
                        @if (Model.Any())
                        {
                            foreach(var role in Model)
                            {
                                <div class="card mb-6" style="margin:15px;">
                                    <div class="card-header">
                                        Id roli: @role.Id
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@role.Name</h5>
                                    </div>
                                    <div class="card-footer">
                                        @*<a href="@Url.Action("Edit","Role", new {Id = role.Id })" class="btn btn-primary">Edytuj</a>*@
                                        <div class="row justify-content-center">
                                            <button class="btn btn-warning mb-3" type="submit" onclick="location='@Url.Action("Edit","Role", new {Id = role.Id })'" style="margin:5px;">
                                                <span class="btn-label">
                                                </span>
                                                Edytuj
                                            </button>

                                            @using (Html.BeginForm("Delete", "Role", new { roleId = role.Id }, FormMethod.Post, true, true))
                                            {
                                                <button class="btn btn-danger mb-3" type="submit" onclick="return confirm('Jesteś pewien, że chcesz usunąć tę rolę?');" style="margin:5px;">
                                                    <span class="btn-label">
                                                    </span>
                                                    Usuń
                                                </button>
                                            }
                                            </div>

                                        </div>
                                    </div>
                            }

 
                        }


                    }


                    else
                    {
                        <div style="margin-top:10px;">
                            <label>Listę roli może zobaczyć jedynie administrator</label>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer">
                @if (User.Identity.Name == "admin")
                {
                    <div class="card justify-content-center">
                        <div class="col-md-4" style="margin-bottom:15px">
                            <div class="login" style="background-color: white;">
                                <div class="form-group form-action-d-flex mb-3">
                                    <button type="submit" class="btn btn-secondary col-md-5 float-left mt-3 mt-sm-0 fw-bold" onclick="location='@Url.Action("Add","Role", "dashboard")'">Stwórz rolę</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

