@model SpiderAnimalTaxonomyView

@{
    ViewData["Title"] = "Edytowanie ptasznika";

    ViewData["Page"] = "SpiderModel";
    ViewData["Group"] = "Spider";

    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";


}
<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Edytowanie kategorii</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List","Car")">Samochody</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Edytuj
            </li>
        </ul>
    </div>

    <div class="card">
        @using (Html.BeginForm("Edit", "Spider", FormMethod.Post))
        {
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Edytuj kategorie</h4>
                </div>
            </div>
            <div class="card-body">

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.HiddenFor(x => x.Spider.Id)

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.Spider.NamePl, new { @class = "form-control", @placeholder = "Nazwa" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    @Html.TextBoxFor(x => x.AnimalTaxonomy.Regnum, new { @class = "form-control", @placeholder = "Nazwa" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj taksonomię królestwa (regnum) ptasznika</label>
                    @Html.TextBoxFor(x => x.AnimalTaxonomy.Regnum, new { @class = "form-control", @placeholder = "Podaj królestwo ptasznika", @style = "background-color:#f0f0f0" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj taksonomię gromady (classic) ptasznika</label>
                    @Html.TextBoxFor(x => x.AnimalTaxonomy.Classis, new { @class = "form-control", @placeholder = "Podaj gromadę ptasznika" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj taksonomię rzędu (ordo, ord. o.) ptasznika</label>
                    @Html.TextBoxFor(x => x.AnimalTaxonomy.Ordo, new { @class = "form-control", @placeholder = "Podaj rząd ptasznika (ord. o.)" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj taksonomię rodziny (familia, fam.) ptasznika</label>
                    @Html.TextBoxFor(x => x.AnimalTaxonomy.Familia, new { @class = "form-control", @placeholder = "Podaj rodzinę ptasznika (fam.)" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj taksonomię rodzaju (genus, gen.) ptasznika</label>
                    @Html.TextBoxFor(x => x.AnimalTaxonomy.Genus, new { @class = "form-control", @placeholder = "Podaj rodzaj ptasznika (gen.)" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj taksonomię gatunku (species, sp.) ptasznika</label>
                    @Html.TextBoxFor(x => x.AnimalTaxonomy.Species, new { @class = "form-control", @placeholder = "Podaj gatunek ptasznika (sp.)" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj polską nazwę ptasznika, o ile taka istnieje</label>
                    @Html.TextBoxFor(x => x.Spider.NamePl, new { @class = "form-control", @placeholder = "Nazwa PL" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj angielską nazwę ptasznika, o ile taka istnieje</label>
                    @Html.TextBoxFor(x => x.Spider.NameEng, new { @class = "form-control", @placeholder = "Nazwa ENG" })
                </div>

                <div class="input-icon mb-3">
                    <span class="input-icon-addon">
                        <i class="fas fa-pen-alt"></i>
                    </span>
                    <label>Podaj wielkość ptasznika, po osiągnięciu dorosłości</label>
                    @Html.TextBoxFor(x => x.Spider.Size, new { @class = "form-control", @placeholder = "Podaj wielkość dorosłego ptasznika" })
                </div>

                <div class="input-icon mb-3">
                    <div class="form-group">
                        <label for="defaultSelect">Wybierz typ ptasznika</label>
                        <select name="Spider.Type" class="form-control form-control">
                            <option value="null">Wybierz typ</option>
                            <option value="Naziemny">Naziemny</option>
                            <option value="Podziemny">Podziemny</option>
                            <option value="Nadrzewny">Nadrzewny</option>
                        </select>
                    </div>
                </div>

                <label for="formControlRange"><strong>Temperatura zycia ptasznika</strong></label>

                <div class="form-group">
                    <label for="formControlRange"><strong>Minimalna temperatura</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.TemperatureMin"
                                   value="@Html.DisplayTextFor(x => x.Spider.TemperatureMin)"
                                   min="15"
                                   max="40"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.TemperatureMin)</output>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="formControlRange"><strong>Maksymalna temperatura</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.TemperatureMax"
                                   value="@Html.DisplayTextFor(x => x.Spider.TemperatureMax)"
                                   min="15"
                                   max="40"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.TemperatureMax)</output>
                        </div>
                    </div>
                </div>


                <label for="formControlRange"><strong>Wilgotność zycia ptasznika</strong></label>

                <div class="form-group">
                    <label for="formControlRange"><strong>Minimalna wilgotność</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.HumidityMin"
                                   value="@Html.DisplayTextFor(x => x.Spider.HumidityMin)"
                                   min="15"
                                   max="40"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.HumidityMin)</output>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="formControlRange"><strong>Maksymalna wilgotność</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.HumidityMax"
                                   value="@Html.DisplayTextFor(x => x.Spider.HumidityMax)"
                                   min="15"
                                   max="40"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.HumidityMax)</output>
                        </div>
                    </div>
                </div>

                <div class="input-icon mb-3">
                    <div class="form-group">
                        <label for="defaultSelect">Wybierz pochodzenie ptasznika</label>
                        <select name="Spider.OriginPlace" class="form-control form-control">
                            <option value="null">Wybierz pochodzenie</option>
                            <option value="Ameryka Poludniowa">Ameryka Poludniowa</option>
                            <option value="Ameryka Polnocna">Ameryka Polnocna</option>
                            <option value="Europa">Europa</option>
                            <option value="Afryka">Afryka</option>
                            <option value="Azja">Azja</option>
                            <option value="Australia">Australia</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="formControlRange"><strong>Siła jadu</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.PowerOfVenom"
                                   value="@Html.DisplayTextFor(x => x.Spider.PowerOfVenom)"
                                   min="1"
                                   max="10"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.PowerOfVenom)</output>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="formControlRange"><strong>Agresywność</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.Aggressiveness"
                                   value="@Html.DisplayTextFor(x => x.Spider.Aggressiveness)"
                                   min="1"
                                   max="10"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.Aggressiveness)</output>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="formControlRange"><strong>Szybkość</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.Speed"
                                   value="@Html.DisplayTextFor(x => x.Spider.Speed)"
                                   min="1"
                                   max="10"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.Speed)</output>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="formControlRange"><strong>Długość życia</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.LengthOfLife"
                                   value="@Html.DisplayTextFor(x => x.Spider.LengthOfLife)"
                                   min="1"
                                   max="30"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.LengthOfLife)</output>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="formControlRange"><strong>Podaj średnią wielokść kokonu (nimf w kokonie).</strong></label>
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <button type="button" class="btn btn-info btn-range-subtract">-</button>
                            <input name="Spider.CocoonSize"
                                   value="@Html.DisplayTextFor(x => x.Spider.CocoonSize)"
                                   min="1"
                                   max="4000"
                                   type="range"
                                   class="form-control-range mx-3"
                                   id="formControlRange" />
                            <button type="button" class="btn btn-info btn-range-add">+</button>
                            <output class="ml-3">@Html.DisplayTextFor(x => x.Spider.CocoonSize)</output>
                        </div>
                    </div>
                </div>

                <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Uzupełnij pozostałą taksonomię ptasznika (Niewymagane)
                </a>

                <div class="collapse" id="collapseExample">
                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podkrólestwa (subregnum) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subregnum, new { @class = "form-control", @placeholder = "Podaj podkrólestwo ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię nadtypu (superphylum) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Superphylum, new { @class = "form-control", @placeholder = "Podaj nadtyp ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię typu (phylum) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Phylum, new { @class = "form-control", @placeholder = "Podaj typ ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podtypu (subphylum) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subphylum, new { @class = "form-control", @placeholder = "Podaj podtyp ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię infratypu (infraphylum) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Infraphylum, new { @class = "form-control", @placeholder = "Podaj infratyp ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię nadgromady (superclassis) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Superclassis, new { @class = "form-control", @placeholder = "Podaj nadgromadę ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podgromady (subclassis) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subclassis, new { @class = "form-control", @placeholder = "Podaj podgromadę ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię infragromady (infraclassis) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Infraclassis, new { @class = "form-control", @placeholder = "Podaj infragromadę ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię nadrzędu (superordo) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Superordo, new { @class = "form-control", @placeholder = "Podaj nadrząd ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podrzędu (subordo, subord. so.) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subordo, new { @class = "form-control", @placeholder = "Podaj podrząd ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię infrarzędu (infraordo) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Infraordo, new { @class = "form-control", @placeholder = "Podaj infrarząd ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię nadrodziny (superfamilia) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Superfamilia, new { @class = "form-control", @placeholder = "Podaj nadrodzinę ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podrodziny (subfamilia, subfam.) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subfamilia, new { @class = "form-control", @placeholder = "Podaj podrodzinę ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię infrarodziny (infrafamilia) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Infrafamilia, new { @class = "form-control", @placeholder = "Podaj infrarodzinę ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię nadplemienia (supertrubus) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Supertrubus, new { @class = "form-control", @placeholder = "Podaj nadplemię ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię plemienia (tribus) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Tribus, new { @class = "form-control", @placeholder = "Podaj plemię ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podplemienia (subtribus) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subtribus, new { @class = "form-control", @placeholder = "Podaj podplemię ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię infraplemienia (infratribus) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Infratribus, new { @class = "form-control", @placeholder = "Podaj infraplemię ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię nadrodzaju (supergenus) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Supergenus, new { @class = "form-control", @placeholder = "Podaj nadrodzaj ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podrodzaju (subgenus, subg. subgen.) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subgenus, new { @class = "form-control", @placeholder = "Podaj podrodzaj ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię infrarodzaju (infragenus) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Infragenus, new { @class = "form-control", @placeholder = "Podaj infrarodzaj ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię podgatunku (subspecies, subsp. ssp.) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Subspecies, new { @class = "form-control", @placeholder = "Podaj podgatunek ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię nacji (natio) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Natio, new { @class = "form-control", @placeholder = "Podaj nację ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię odmiany (morpha) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Morpha, new { @class = "form-control", @placeholder = "Podaj odmianę ptasznika" })
                    </div>

                    <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            <i class="fas fa-pen-alt"></i>
                        </span>
                        <label>Podaj taksonomię formy (forma, f.) ptasznika</label>
                        @Html.TextBoxFor(x => x.AnimalTaxonomy.Forma, new { @class = "form-control", @placeholder = "Podaj formę ptasznika" })
                    </div>

                    <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Zwiń listę dodatkowej taksonomii
                    </a>

                </div>

            </div>

            <div class="row justify-content-center">
                <button class="btn btn-primary mb-3" type="submit">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Edytuj
                </button>
            </div>
        }
    </div>
</div>

@section Scripts{ 
<script>

    const updateOutput = (input) => {
        $(input).parent().find("output").text($(input).val());
    };

    $(".btn-range-add").click(function () {
        let range = $(this).parent().find(".form-control-range");
        range.val(parseInt(range.val()) + 1);

        updateOutput(range);
    });

    $(".btn-range-subtract").click(function () {
        let range = $(this).parent().find(".form-control-range");
        range.val(parseInt(range.val()) - 1);

        updateOutput(range);
    });

    $(".form-control-range").on("input", function () {
        updateOutput(this);
    });

</script>
}