@model List<SpiderModel>

@{
    ViewData["Title"] = "Szczegóły ptasznika";

    ViewData["Page"] = "SpiderView";
    ViewData["Group"] = "Spider";

    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";


}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Wrzuc tu nazwe</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="@Url.Action("Index","Admin")">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("List","Spider")">Ptaszniki</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                Szczegóły
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Ptasznikowate: Theraphosidae</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">




                        @if (Model.Count != 0)
                            @foreach (var spiderModel in Model)
                            {

                                <div class="col-md-6">
                                    <div class="card" style="min-height: 500px; margin: 15px;">
                                        <img class="card-img-top" src="https://i.iplsc.com/ptasznik-olbrzymi-zdj-ilustracyjne/000ABR9HH1PHCAD0-C122-F4.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            @if (@spiderModel.AnimalTaxonomy.Genus != null && @spiderModel.AnimalTaxonomy.Species != null)
                                            {
                                                <h5 class="card-title">@spiderModel.AnimalTaxonomy.Genus @spiderModel.AnimalTaxonomy.Species</h5>
                                            }
                                            else
                                            {
                                                <h5 class="card-title">Brak danych</h5>
                                            }

                                            @if (@spiderModel.ShortDescription == null)
                                            {
                                                <p class="card-text">Brak danych</p>
                                            }
                                            else
                                            {
                                                <p class="card-text">@spiderModel.ShortDescription</p>
                                            }

                                        </div>
                                        <ul class="list-group list-group-flush">
                                            
                                            <li class="list-group-item">Pochodzenie: @spiderModel.OriginPlace</li>
                                            <li class="list-group-item">Typ ptasznika: @spiderModel.Type</li>
                                            <li class="list-group-item">Temperatura życia: @spiderModel.TemperatureMin °C - @spiderModel.TemperatureMax °C</li>

                                        </ul>
                                        <div class="card-body">
                                            <a href="@Url.Action("Details","Spider", new { Id = spiderModel.Id})" class="card-link">Czytaj więcej..</a>
                                        </div>
                                    </div>
                                    </div>
                                    }

                                </div>
                            </div>


                            </div>
        </div>


    </div>
</div>
