@model List<ArticleModel>

@{
    ViewData["Title"] = "Lista artykułów";

    ViewData["Page"] = "ArticleView";
    ViewData["Group"] = "Article";

    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";


}
<div class="page-inner" style="margin-top:15px;">
    <div class="page-header">
        <h4 class="page-title">Lista artykułów</h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Artykuły</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">




                        @if (Model.Count != 0)
                        {
                            @foreach (var articleModel in Model)
                            {

                                <div class="col-md-6">
                                    <div class="card" style="min-height: 500px; margin: 15px;">

                                        @if (articleModel.Image == null)
                                        {
                                            <img class="card-img-top img-fluid"
                                                 src="http://oliclinic.pl/wp-content/uploads/2016/10/orionthemes-placeholder-image.png"
                                                 alt="Card image cap">
                                        }
                                        else
                                        {
                                            <img class="card-img-top img-fluid"
                                                 src="@articleModel.Image.Url"
                                                 alt="Card image cap">
                                        }


                                        <div class="card-body">
                                            @if (articleModel.Title != null)
                                            {
                                                <h5 class="card-title">@articleModel.Title</h5>
                                            }
                                            else
                                            {
                                                <h5 class="card-title">Brak danych</h5>
                                            }

                                            @if (articleModel.Abstract == null)
                                            {
                                                <p class="card-text">Brak danych</p>
                                            }
                                            else
                                            {
                                                <p class="card-text">@articleModel.Abstract</p>
                                            }

                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Data dodania: @articleModel.AddDate.ToShortDateString()</li>
                                        </ul>
                                        <div class="card-body">
                                            <a href="@Url.Action("Details", "Article", new { Id = articleModel.Id })" class="card-link">Czytaj więcej..</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                    <div class="col-md-10">
                        <h4>Brak artykułów w bazie danych!</h4>
                    </div>
                    <div class="col-md-10">
                        <h5>Zapraszamy ponownie wkrótce!</h5>
                    </div>

                        }

                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

@section Scripts {
<script>


</script>

}