@model List<ReportModel>

@{
    ViewData["Title"] = "Lista raportów";

    ViewData["Page"] = "ReportView";
    ViewData["Group"] = "Report";

    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";


}
<div class="page-inner" style="margin-top:15px;">
    <div class="page-header">
        <h4 class="page-title">Raporty</h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Lista raportów</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">




                        @if (Model.Count != 0)
                        {
                            @foreach (var reportModel in Model)
                            {

                                <div class="col-md-6">
                                    <div class="card" style="min-height: 500px; margin: 15px;">

                                        @if (reportModel.ReportImage == null)
                                        {
                                            <img class="card-img-top img-fluid"
                                                 src="https://res.cloudinary.com/dyytlulq9/image/upload/v1609518414/obxplrpei8b36v5ouide.jpg"
                                                 alt="Card image cap">
                                        }
                                        else
                                        {
                                            <img class="card-img-top img-fluid"
                                                 src="@reportModel.ReportImage.Url"
                                                 alt="Card image cap">
                                        }


                                        <div class="card-body">
                                            @if (reportModel.Title != null)
                                            {
                                                <h5 class="card-title">Tytuł raportu: @reportModel.Title</h5>
                                            }
                                            else
                                            {
                                                <h5 class="card-title">Tytuł raportu: Brak danych</h5>
                                            }

                                            @if (reportModel.Spider.AnimalTaxonomy.Genus == null)
                                            {
                                                <p class="card-text">Ptasznik: Brak danych</p>
                                            }
                                            else
                                            {
                                                <p class="card-text">Ptasznik: @reportModel.Spider.AnimalTaxonomy.Genus</p>
                                            }

                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Data dodania: @reportModel.AddDate.ToShortDateString()</li>
                                        </ul>
                                        <div class="card-body">
                                            <a href="@Url.Action("Details", "Report", new { Id = reportModel.Id })" class="card-link">Czytaj więcej..</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-md-10">
                                <h4>Brak raportów w bazie danych!</h4>
                            </div>
                            <div class="col-md-10">
                                <h5>Zapraszamy ponownie wkrótce!</h5>
                            </div>

                        }

                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <button class="btn btn-info mb-3" type="submit" onclick="location='@Url.Action("Add","Report", "dashboard")'" style="margin:5px;">
                                    <span class="btn-label">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </span>
                                    Dodaj raport
                                </button>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

@section Scripts {
    <script>


    </script>

}