<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="@Url.Action("Index","Home", "dashboard")">Theraphosidae</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List","Article", "dashboard")">Artykuły</a>
            </li>
            @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href=""@Url.Action("List","Report", "dashboard")"" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Raporty
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Raporty ukąszeń</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Raporty rozmnożeń</a>
            </div>
        </li>*@
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List","Report", "dashboard")">Raporty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List","Spider", "dashboard")">Ptaszniki</a>
            </li>
        </ul>

    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Konto
                        <i class="fas fa-user fa-lg"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
                        <a class="dropdown-item" href="@Url.Action("Login","Account", new { Area = "dashboard" })">Logowanie</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Register","Account", new { Area = "dashboard" })">Rejestracja</a>
                    </div>
                </li>
            }
            else
            {


                @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Losuj ptasznika
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @using (Html.BeginForm("RandomSpider", "Spider", new { experience = "poczatkujacy" }, FormMethod.Post, true, true))
                    {
                        <a class="dropdown-item">Ptasznik początkujący</a>
                    }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Ptasznik średniozaawansowany</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Ptasznik zaawansowany</a>
                    </div>
            </li>*@

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Konto
                        <i class="fas fa-user fa-lg"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
                        <a class="dropdown-item">@User.Identity.Name</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout","Account", new { Area = "dashboard" })">Wyloguj</a>
                    </div>
                </li>
            }
        </ul>
    </form>
    </div>
</nav>